@font-face {
    font-family: "Arial MT";
    src: url("TrueType/Arial-MT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arial MT";
    src: url("TrueType/Arial-MT-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}