body, .site-header div, .site-header menu {
    background-color: #f2f0f0;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

ul, .list, .main-image ul, .social-icons, .social-block .column, .site-content .best-products > .row > .column {
    padding: 0;
}

.content-image {
    background-color: white;
    -moz-box-shadow: 7px 7px rgba(219, 219, 219, 0.3);
    -webkit-box-shadow: 7px 7px rgba(219, 219, 219, 0.3);
    box-shadow: 7px 7px rgba(219, 219, 219, 0.3);
}

.product-item .content-image {
    -moz-box-shadow: 10px 10px rgba(219, 219, 219, 0.4);
    -webkit-box-shadow: 10px 10px rgba(219, 219, 219, 0.4);
    box-shadow: 10px 10px rgba(219, 219, 219, 0.4);
}

.control-logo, .menu, ul li, #device-menu-btn, .main-image li:first-of-type, .menu a, .seo-text-link a, .price, .email-input button, .seo-text, .seo-text-link, .column p, .round-image, .product-item span {
    display: inline-block;
}

.main-image img, .item-image, .email-input input {
    width: 100%;
}

.owl-carousel {
    margin: 0;
}

.control-logo {
    padding: 25px 100px;
}

.title {
    color: #5d0400;
    font-family: "Times New Roman PSMT";
    font-size: 25px;
    padding: 5px;
}

#device-menu-btn, .menu a, .seo-text-link a, .price, .email-input button {
    border-radius: 5px;
    color: #85423f;
    font-family: "Noto Sans";
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 15px;
    -webkit-transition: color 0.3s, background-color 0.3s ease;
    transition: color 0.3s, background-color 0.3s ease;
}

.menu a:hover, #device-menu-btn, .menu .active, .seo-text-link .active, .price, .email-input button, .site-footer {
    color: white;
    background-color: #eb6c10;
}

.site-header {
    background: #eb6c10;
    padding-top: 30px;
}

.site-header #device-menu-btn, .main-image img:nth-of-type(2), .main-image img:nth-of-type(3), #hidden-seo-text {
    display: none;
}

.site-header .row {
    align-items: center;
    justify-content: center;
}

.site-content {
    max-width: 1000px;
    margin: 40px auto 0px;
}

.seo-block .column, .best-products > .row > .column, .social-block .column {
    border-bottom: 2px dotted #b3adad;
    border-top: 2px dotted #b3adad;
    margin: 20px;
    padding: 20px 0;
    position: relative;
}

.best-products > .row > .column, .email-input .column {
    border-top: none;
}

.social-block .column {
    border-bottom: none;
}

.best-products > span {
    margin: 10px 10px 10px 20px;
}

.best-products ul.row {
    margin-bottom: 0;
    padding: 5px 20px;
}

.seo-block .column:nth-of-type(2) span, .seo-block .column:nth-of-type(2) ul {
    padding-left: 15%;
}

.seo-text, .seo-text-link {
    margin: 30px 5px 3px 160px;
    padding: 0 0 0 40px;
}

.seo-text-link {
    border: none;
    margin: 5px 5px 5px 160px;
}

.seo-text {
    color: #000000;
    font-family: "Arial MT";
    font-size: 14px;
    line-height: 18px;
    overflow-y: hidden;
    width: 72%;
}

.seo-text p {
    margin: 0 0 10px 0;
}

.seo-text a {
    color: #e1837f;
}

.seo-text a:hover {
    color: #eb6c10;
    text-decoration: underline;
}

.title, .list li, .product-item a {
    display: block;
}

.round-image {
    border: 1px solid #b3adad;
    border-radius: 50%;
    float: left;
    margin: 30px 0;
    padding: 5px;
    position: absolute;
}

.list li {
    font-family: "Arial MT";
    font-size: 14px;
    padding: 6px;
}

.list li::before {
    color: #5d0400;
    content: "\25AA";
    padding-right: 10px;
}

.best-products .column.product-item {
    border: none;
    flex: 25%;
    margin: 10px;
}

.product-item {
    padding: 20px 5px;
    transition: z-index;
}

.product-item:hover {
    transform: scale(1.1);
    z-index: 1;
}

.item-image {
    border: 1px solid #b3adad;
    outline: 5px solid white;
}

.item-name {
    color: #1d1916;
    font-family: "Arial MT";
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.item-description {
    color: #826660;
    font-family: "Arial MT";
    font-size: 12px;
    line-height: 18px;
}

.price {
    margin: 20px 0 5px;
}

.price span {
    color: #ffffff;
    font-family: "Lobster";
    font-size: 20px;
    position: relative;
}

.price span:last-of-type {
    padding-right: 5px;
    bottom: 2px;
}

.price span.currency {
    color: #ffffff;
    font-family: "Lobster";
    font-size: 14px;
    /* position: absolute;
    top: 3px; */
}

.social-icons {
    margin: 20px 0;
}

.social-icons img {
    padding: 5px;
}

.footer-menu li {
    color: #504f4f;
    font-family: "Arial MT";
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 5px;
}

.email-block p {
    font-family: "Arial MT";
    font-size: 12px;
    line-height: 18px;
    padding: 3px 5px;
    width: 50%;
}

.email-input .column {
    margin: 10px 0;
    padding: 3px 5px;
}

.email-input input {
    box-sizing: border-box;
    height: 100%;
    padding: 2px 10px;
}

.email-input button {
    border: none;
    font-size: 13px;
    line-height: 20px;
    margin: 0 10px;
    text-transform: none;
}

.site-footer {
    padding: 40px 10px;
    text-align: center;
}

.site-footer ul {
    margin: auto o;
}

.site-footer ul {
    position: relative;
}

.site-footer a {
    color: white;
    font-family: "Arial MT";
    font-size: 12px;
    padding: 5px 10px;
}

.site-footer li::after {
    content: "|";
    position: absolute;
}

.site-footer li:last-of-type::after {
    display: none;
}


/* Grid */
.row {
    display: -ms-flex;
	display: -webkit-flex;
    display: flex;
}

.column {
    flex: 50%;
}

@media screen and (max-width: 1101px) {
    .control-logo {
        padding: 15px;
    }

    .site-content {
        max-width: 90%;
    }
}

@media screen and (max-width: 935px) {
    .row {
        flex-direction: column;
    }

    .seo-block .column:nth-of-type(2) ul {
        padding: 10px;
    }

    .row .column, .best-products > .row > .column:first-of-type {
        border-bottom: none;
    }

    .best-products {
        border-top: 2px dotted #b3adad;
    }

    .control-logo, nav {
        flex: 100%;
    }

    .best-products .column.product-item {
        flex: 45%;
    }

    .best-products .row {
        flex-direction: row;
        flex-flow: row wrap;
    }

    .site-content, .email-block p {
        width: 98%;
    }

    .social-block > .row > .column {
        margin: 10px 20px;
        padding: 10px 0;
    }

    .row .email-input .column {
        margin: 2px 0;
        padding: 5px 0;
    }

    .email-input .column:last-of-type {
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .site-content {
        margin: 0;
        padding: 0;
    }

    .site-header {
        padding: 0;
    }

    nav, .menu, .menu li, .site-header #device-menu-btn { 
        display: block;
        width: 100%;
    }

    .site-header #device-menu-btn {
        border: none;
        border-radius: 0;
        font-size: 24px;
    }

    .menu {
        border-bottom: 2px solid #eb6c10;
        display: none;
        text-align: center;
    }

    .menu li a {
        font-size: 12px;
        padding: 10px 0;
        width: 80%;
    }

    .round-image, .seo-text-link {
        display: block;
        position: static;
    }

    .header-image {
        display: flex;
    }

    .round-image {
        margin: 20px auto;
    }

    .seo-block .column {
        margin: 10px;
        padding: 5px;
    }

    .seo-text {
        width: 100%;
    }

    .seo-text, .seo-text-link {
        margin: 5px;
        padding: 5px;
    }

    .best-products > .row > .column {
        margin: 10px;
        padding: 0;
    }

    .product-item {
        padding: 10px;
    }

    .seo-block .column:nth-of-type(2) span, .seo-block .column:nth-of-type(2) ul {
        padding: 5px;
    }

    .site-footer li {
        display: block;
        margin: 10px;
        text-align: center;
    }

    .site-footer li::after {
        display: none;
    }
}